<div class="container" >
    <h1>Weather App</h1>
    <p>The weather app gives you weather information about a specific place in the world, All you need to do is put in the
    coordinates and it retrieves the information for you.
    It also shows a different animated background depending on the temperature returned, if its greater than 20 degrees celsius
    it shows a sunny effect and a snow effect when below 20 degrees celsius</p>

</div>