<div id="form" class="container">
    <p style="color: red" >{{app.errorMessage}}</p>
    <div class="form-inline">
        <label for="latText">Enter Latitude</label>
        <input class="text-input" id="latText" ng-model="app.lat" type="number" size="4">

        <label for="latText">Enter Longitude</label>
        <input class="text-input" id="lngText" ng-model="app.lng" type="number" size="4">
        <img src="images/loading.gif" ng-show="app.loading">
    </div>
    <div>
        <button class="btn btn-primary" type="button" ng-click="getWeatherInfo()">Get Weather Info</button>
    </div>
</div>
<div id="art">
    <p ng-show="description">Its {{app.temperature}} degrees celsius in {{app.stationName}}, {{app.countryCode}} at {{app.observationTime}}</p>
    <canvas id="canvas" ng-show="app.cold"></canvas>
    <div class="sun" ng-show="app.hot">
        <div class="ray_box">
            <div class="ray ray1"></div>
            <div class="ray ray2"></div>
            <div class="ray ray3"></div>
            <div class="ray ray4"></div>
            <div class="ray ray5"></div>
            <div class="ray ray6"></div>
            <div class="ray ray7"></div>
            <div class="ray ray8"></div>
            <div class="ray ray9"></div>
            <div class="ray ray10"></div>
        </div>
    </div>
</div>